<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Descri&ccedil;&atilde;o:</label>
      <input type="text" pInputText pTooltip="Informe uma descrição" tooltipPosition="top">
    </div>
    <div class="ui-g-12">
      <label style="display: block">Data:</label>
      <input type="text" pInputText style="width: 95px" pTooltip="Informe uma data inicial" tooltipPosition="top">
      <label>at&eacute;</label>
      <input type="text" pInputText style="width: 95px" pTooltip="Informe uma data final" tooltipPosition="top">
    </div>
    <div class="ui-g-12">
      <p-button label="Pesquisar" type="submit"></p-button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
    </div>
    <div class="ui-g-12">
      <p-button label="Novo Lançamento"></p-button>
    </div>
  </div>
</div>
