<div class="container">
  <form autocomplete="off" #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
    <div *ngIf="lancamentoForm.invalid && lancamentoForm.touched" class="alert alert-danger">
      Preencha todos os campos corretamente!
    </div>

    <p-message *ngIf="lancamentoForm.invalid && lancamentoForm.touched"
      severity="error" text="Preencha todos os campos corretamente!">
    </p-message>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
          <p-selectButton [options]="tipos" #tipo name="tipo" ngModel></p-selectButton>
      </div>

      <div class="ui-sm-12 ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"
        [inline]="false" [readonlyInput]="false" name="vencimento" ngModel #vencimento="ngModel"></p-calendar>
      </div>

      <div class="ui-sm-12 ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"
        [inline]="false" [readonlyInput]="false" name="pagamento" ngModel #pagamento="ngModel"></p-calendar>
      </div>

      <div class="ui-sm-12 ui-g-8 ui-fluid">
        <label>Descrição: {{ descricao.errors | json}}</label>
        <input type="text" pInputText name="descricao"
        ngModel #descricao="ngModel" required minlength="5" class="ng-dirty ng-invalid">

        <!-- <div class="ui-messages ui-messages-error">Teste</div> -->
        <p-message *ngIf="descricao.hasError('required') && descricao.touched" severity="error" text="Campo é obrigatório"></p-message>
        <p-message *ngIf="descricao.hasError('minlength') && descricao.touched" severity="error" text="Campo deve ter no mínimo 5 caracteres!"></p-message>
      </div>

      <div class="ui-sm-12 ui-g-4 ui-fluid">
        <label>Valor:</label>
        <input pInputText currencyMask placeholder="0,00" value="0,00" required ngModel name="valor" #valor="ngModel">
        <p-message *ngIf="valor.hasError('required') && valor.touched" severity="error" text="Campo é obrigatório"></p-message>
      </div>

      <div class="ui-sm-12 ui-g-6 ui-fluid">
        <label>Categoria:</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria></p-dropdown>
      </div>
      <div class="ui-sm-12 ui-g-6 ui-fluid">
        <label>Pessoa:</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione" #pessoa></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <h3>Observação</h3>
        <textarea rows="5" cols="30" pInputTextarea></textarea>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-2 ui-md-1">
        <button type="submit" icon="pi pi-save" pButton label="Salvar" class="ui-button-primary"
        [disabled]="lancamentoForm.invalid"></button>
    </div>
    <div class="ui-sm-12 ui-g-2 ui-md-1">
        <button type="button"icon="pi pi-plus" pButton label="Novo" class="ui-button-info"></button>
    </div>
    <div class="ui-sm-12 ui-g-2 ui-md-2">
        <a href="#">Voltar para a pesquisa </a>
    </div>
  </form>
</div>
